<?xml version='1.0' encoding='utf-8'?>

<launch>
    <!--打开语音唤醒-->
    <include file="$(find castlex_voice_system)/launch/castlex_awake.launch"/>
    <!--打开命令词识别-->
    <node pkg = "castlex_voice_system" type = "castlex_zwai_node" name = "castlex_zwai_node" output="screen"/>
    	

  <!-- 启动导航  -->
   <include file="$(find castlex_navigation)/launch/nav_ws/castlex_nav.launch"/>

   <node pkg = "castlex_navigation" type = "castlex_zwai.py" name = "castlex_xdu" output="screen" >
          <param name="file_path_s" value="$(find castlex_navigation)/voice/xiaodu/xiaogu.mp3" />
          <param name="file_path_a" value="$(find castlex_navigation)/voice/xiaodu/go_guest_room.mp3" />
          <param name="file_path_b" value="$(find castlex_navigation)/voice/xiaodu/guest_room.mp3" />
          <param name="file_path_c" value="$(find castlex_navigation)/voice/xiaodu/go_hall.mp3" />
          <param name="file_path_d" value="$(find castlex_navigation)/voice/xiaodu/hall.mp3" />
          <param name="file_path_e" value="$(find castlex_navigation)/voice/xiaodu/go_distribution_desk.mp3" />
          <param name="file_path_f" value="$(find castlex_navigation)/voice/xiaodu/distribution_desk.mp3" />
          <param name="file_path_g" value="$(find castlex_navigation)/voice/xiaodu/go_bedroom.mp3" />
          <param name="file_path_h" value="$(find castlex_navigation)/voice/xiaodu/bedroom.mp3" />
          <param name="file_path_i" value="$(find castlex_navigation)/voice/xiaodu/start_1.mp3" />
          <param name="file_path_j" value="$(find castlex_navigation)/voice/xiaodu/start_2.mp3" />
          <param name="file_path_k" value="$(find castlex_navigation)/voice/xiaodu/nest.mp3" />
    </node>

   <node pkg = "iot_wifi_system" type = "IOT_WIFI_Node" name = "IOT_WIFI_Node" output="screen" />

</launch>


